---
import slug from 'slug';
export const prerender = false
import Layout from "../../../layouts/Layout.astro";
import { FilmGenreOptions, FilmPaysOptions, type FilmResponse } from '../../../pocketbase-types';
import { PersonneProfessionOptions } from '../../../pocketbase-types';
const { id: idParam } = Astro.params;
let message = null;
let film = {} as FilmResponse;
const personne = await Astro.locals.pb.collection("personne").getFullList()

if (id)
{
    film = await Astro.locals.pb.collection("film").getOne(id)
}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const filmCree = await (id
            ?(Astro.locals.pb.collection("film").update(id!, data))
            :(Astro.locals.pb.collection("film").create(data))
        )
        .catch(err => {
            console.error("Erreur de sauvegarde du film : ", err);
            message = err.message ;
            return null
        })
    ;
    if (filmCree) {
        return Astro.redirect(`/films/${filmCree.id}-${slug(filmCree.titre ?? "Inconnu")}`)
    }
}
---
<Layout>
        <h1>{id ? "Editer une film" : "Ajouter une film"}</h1>
    
    {
    message && 
    <p class="text-red-700">{ message }</p>
    }
    <form method="post" enctype="multipart/form-data">

        {
        id && 
        <input type ="hidden" name ="id" value = { id }>
        }
        <label>Image
            <input type="file" name="image">
        </label>
        <input name="user" type="hidden" value={Astro.locals.pb.authStore.record?.id}>
        {/* <input name="user" type="hidden" value={Astro.locals.pb.authStore.record.id}> */}
        <label class="block">
            <span class="text-gray-700">Titre :</span>
            <input name="titre" type="text" class="mt-1 block w-full" placeholder="" value={film.titre}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Durée :</span>
            <input name="duree" type="number" class="mt-1 block w-full" placeholder="" value={film.duree}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Synopsis :</span>
            <input name="synopsis" type="text" class="mt-1 block w-full" placeholder="" value={film.synopsis}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Date de sortie :</span>
            <input name="date_sortie" type="date" class="mt-1 block w-full" placeholder="" value={film.date_sortie}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Langue :</span>
            <input name="langue" type="text" class="mt-1 block w-full" placeholder="" value={film.langue}> 
        </label>
        <fieldset>
             {
                Object.entries(FilmGenreOptions).map(([key, value]) =>
                    <label>
                        <input type="checkbox" name="genre" value={value}
                        checked={film.genre?.includes(value)}
                        />
                        {key}
                    </label>
                )
            }
        </fieldset>
        <fieldset>
             {
                Object.entries(FilmPaysOptions).map(([key, value]) =>
                    <label>
                        <input type="checkbox" name="pays" value={value}
                        checked={film.pays?.includes(value)}
                        />
                        {key}
                    </label>
                )
            }
        </fieldset>
        <select name="realisateur" class="mt-1 block">
            <option>Choisir un réalisateur</option>
            {
                personne.map((p) =>(
                <option
                selected={film.realisateur === p.id}
                value={p.id}>
                    {p.nom} {p.prenom}
                </option>
                ))
            }
        </select>
        <select name="producteur" class="mt-1 block" multiple>
            <option>Choisir un producteur</option>
            {
                personne.map((p) =>(
                    <option
                    selected={film.producteur?.includes(p.id)}
                    value={p.id}>
                        { p.nom } { p.prenom }
                    </option>
                ))
            }
        </select>
        <select name="producteur" class="mt-1 block" multiple>
            <option>Choisir un scénariste</option>
            {
                personne.map((p) =>(
                    <option
                    selected={film.scenariste?.includes(p.id)}
                    value={p.id}>
                        { p.nom } { p.prenom }
                    </option>
                ))
            }
        </select>
        
        <button>
            { id ? "Mettre à jour" : "Ajouter" }
        </button>
    </form>
</Layout>