---
import slug from 'slug';
export const prerender = false
import Layout from "../../../layouts/Layout.astro";
import { PersonneProfessionOptions, type PersonneResponse } from '../../../pocketbase-types';
const { id: idParam } = Astro.params;
const id = idParam?.split('-')[0]; // Extract ID before the slug
let message = null;
let personne = {} as PersonneResponse;

if (id)
{
    personne = await Astro.locals.pb.collection("personne").getOne(id)
}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const personneCree = await (id
            ?(Astro.locals.pb.collection("personne").update(id!, data))
            :(Astro.locals.pb.collection("personne").create(data))
        )
        .catch(err => {
            console.error("Erreur de sauvegarde de la personne : ", err);
            message = err.message ;
            return null
        })
    ;
    if (personneCree) {
        return Astro.redirect(`/personnes/${personneCree.id}-${slug(personneCree.nom ?? "Inconnu")}`)
    }
}
---
<Layout>
        <h1>{id ? "Editer une personne" : "Ajouter une personne"}</h1>
    
    {
    message && 
    <p class="text-red-700">{ message }</p>
    }
    <form method="post">

        {
        id && 
        <input type ="hidden" name ="id" value = { id }>
        }

        <input name="user" type="hidden" value={Astro.locals.pb.authStore.record?.id}>
        {/* <input name="user" type="hidden" value={Astro.locals.pb.authStore.record.id}> */}
        <label class="block">
            <span class="text-gray-700">Nom :</span>
            <input name="nom" type="text" class="mt-1 block w-full" value={personne.nom}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Prénom :</span>
            <input name="prenom" type="text" class="mt-1 block w-full" value={personne.prenom}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Nationalité :</span>
            <input name="nationalite" type="text" class="mt-1 block w-full" value={personne.nationalite}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Date de naissance :</span>
            <input name="date_naissance" type="date" class="mt-1 block w-full" value={personne.date_naissance}> 
        </label>
        <label class="block">
            <span class="text-gray-700">Date de décés (optionnelle) :</span>
            <input name="date_deces" type="date" class="mt-1 block w-full" value={personne.date_deces}> 
        </label>
        <fieldset>
             {
                Object.entries(PersonneProfessionOptions).map(([key, value]) =>
                    <label>
                        <input type="checkbox" name="profession" value={value}
                        checked={personne.profession?.includes(value)}
                        />
                        {key}
                    </label>
                )
            }
        </fieldset>
        
        <button>
            { id ? "Mettre à jour" : "Ajouter" }
        </button>
    </form>
</Layout>